body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin-top: 60px;
}

.profileBackground {
    width: 200px;
    height: 200px;
}

.collapsRow{
    width: 100%;
}

.cookBookBackground {
    background-image: url("../images/cookBookBackground.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
}

.spotMeBackground {
    background-image: url("../images/spotMeBackground.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
}

.crystalCollectorBackground {
    background-image: url("../images/crystalCollectorBackground.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
}

.backgroundColor{
    background: rgba(249, 252, 252, 0.7);
}

.aboutMeBackground {
    background-image: url("../images/aboutMeBackground.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
}

.imageLinks {
    width:40px;
    height:40px;
    border:0;
}

#links li
{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.whiteText {
    color: white;
}

.form-process {
    display: block;
    width: 35%;
    height: 25%;
    background: url("../images/preloader.gif") center center no-repeat #FFF;
    text-align: center;
}

.form-process {
	display: none;
	position: absolute;
	z-index: 3;
	background-color: rgba(255,255,255,0.7);
}